<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.username %></h1>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>

    <a href="/login"><h1>Please log in</h1></a>
    <%}%>
  </body>
</html>
