<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <section>
        <label for="firstName">First Name</label>
        <input name="firstName" placeholder="First Name" type="text" />
      </section>
      <section>
        <label for="lastName">Last Name</label>
        <input name="lastName" placeholder="Last Name" type="text" />
      </section>
      <section>
        <label for="email">Email</label>
        <input name="email" placeholder="Email" type="email" />
      </section>
      <section>
        <label for="password">Password</label>
        <input name="password" type="password" />
      </section>
      <button>Sign Up</button>
    </form>
  </body>
</html>
